.flex-container{
	display:flex;
	flex-direction:row;
	background:red;
	justify-content:space-around;
	align-items:streach;
	flex-wrap:wrap;
}

.flex-item{
	background:blue;
	text-align:left;
	margin:10px;
	flex:1;
}

.item1{;
}

.item2{
	flex:3;
}

.item3{;
}

h2 {
	margin-top:0;
}

p {
	width: 40px;
	word-wrap:break-word;
}